<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wang.eggroll.passwordbox">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.ShareActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".patternlock.ConfirmPatternActivity"
            android:theme="@style/PatternView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".patternlock.SetPatternActivity"
            android:theme="@style/PatternView"/>

        <activity android:name=".patternlock.ForgotPasswordActivity"/>

        <activity android:name=".settings.SettingsActivity" />

        <activity android:name=".patternlock.ConfirmForPwdResetActivity"
            android:theme="@style/PatternView"/>

        <activity android:name=".view.ScanActivity"/>

        <activity android:name=".patternlock.MyBasePatternActivity"
            android:theme="@style/MyPatternView"/>
        <activity android:name=".patternlock.MyConfirmPatternActivity"
            android:theme="@style/MyPatternView"/>
    </application>

</manifest>